/.DS_Store
/Aadhar.pdf
/College
/Deel - International option agreement reg S - January 2025.pdf
/Final transcript.pdf
/IMG_5307.png
/IMT2020001.pdf
/InterviewReadyInvoice_ORD01157130130980.pdf
/JyQ68JLk-Deel Inc..pdf
/Manda Srinivasa Bhargava transfer.pdf
/Screen Recording 2024-07-24 at 11.18.53 PM.mov
/Screen Recording 2024-09-20 at 9.44.16 PM.mov
/Screen Recording 2024-10-29 at 2.37.18 PM.mov
/Screenshot 2024-07-24 at 11.36.56 PM.png
/Screenshot 2024-08-13 at 6.04.38 PM.png
/Screenshot 2025-09-30 at 22.13.03.png
/Srinivasa_Manda_Resume.pdf
/deel-Eris Sulce-contract-36n4d4g.pdf
/github-recovery-codes.txt
/hofy-2fa-codes.txt
/imt2020001_manda_srinivasa_bhargava_imt2020_cse_transcripts_24_07_2024_16_13_53.pdf
/keeper_recovery.txt
/pfp.jpg
/project
/punni
/valp certificate.jpeg